.hidden {
	display: none;
}

.page-header {
	height: 2em;
}

.page-header_right {
	float: right;
	padding: 0.5em;
}

.page-header_logout-button {
	padding-left: 3em;
}

.loading-spinner {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 16px;
	height: 16px;
	background-color: inherit;
	background-image: url(../img/loader-spinner.gif);
}

.close-button {
	width: 16px;
	height: 16px;
	background-color: inherit;
	background-image: url(../img/close-button.png);
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
}


.popup-overlay {
	background-color: rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
}


.app-popup {
	position: relative;
	margin:40px auto 0px auto;
	width: 80%;
	padding:10px;
	background-color: white;
	border-radius:5px;
	box-shadow: 0px 0px 10px #000;
}

.popup-content {
	max-height: 85vh;
	overflow: auto;
}

.button-container {
	position: relative;
	height: 4em;
}

.paging-buttons {
	left: 0;
	bottom: 0;
	padding: 1em;
	margin: 1em;
	position: absolute;
	cursor: pointer;
}

.button {
	right: 0;
	bottom: 0;
	padding: 1em;
	margin: 1em;
	position: absolute;
	cursor: pointer;
}

.client-page .order-list-item .order-status {
	float: right;
}

.client-list-page .client-list-item .client-delete {
	float: right;
}

ul {
	list-style-position: inside;
	padding-left:0;
}

li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 1em
}

textarea {
	height: 8em;
	width: 100%;
	margin: 1em 0 1em 0;
	box-sizing: border-box;
	resize: none;
}

.order-history-item {
	padding: 0;
}
